{{#partial "content"}}


    {{# if username }}
        <h2>Welcome {{ username }}!</h2>
    {{ else }}
        <h1>Welcome Students!</h1>
        <form action="/" method="post">
            <input type="text" placeholder="Username" name="username">
            <button>Sign In</button>
        </form>
    {{/if}}
    <p>View <a href="/ideas">all ideas!</a></p>
{{/partial}}

{{> base.hbs}}