{{#partial "title"}}{{ courseIdea }}{{/partial}}

{{#partial "content" }}
    {{# if courseIdea }}
        <form action="/ideas">
            <button>Back to IDEAS</button>
        </form>
        <h1>{{ courseIdea }}</h1>
        <br>
        Total Votes: {{ numberOfVoters }}
        <br>
        <h2>Voters</h2>
        <ul>
            {{# each voters }}
                <li>{{ this }}</li>
            {{/each}}
        </ul>

        <form action="/ideas/{{ slug }}/votes" method="post">
            <button>Vote</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs }}