{{#partial "content" }}
    <h1>Ideas</h1>

    <ul>
        {{#each ideas }}
            <li>
                <a href="/ideas/{{ slug }}">{{ idea }}</a> ({{ voteCount }} votes)
            </li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" placeholder="Your great idea!" name="idea">
        <button>Suggest</button>
    </form>
{{/partial }}

{{> base.hbs }}