{% extends "base.html" %}
{% block css %}
<style>
    .card {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 300px;
    max-height:426px;
    }

iframe {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height:800px;
}
.modal-content {
    height:480px;
}

.modal-content h3 {
    padding-top:25px;
    color:grey;
}



</style>
{% endblock %}
{% block content %}

<div class="card-group">
    {% for m in movies %}
    <div class="card">
        <img class="card-img-top"
             src="{{m.poster_url}}"
             alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{m.name}}</h4>
            <p class="card-text">
                <strong>({{m.release_year}})</strong>
            </p>
            <p>

                Rating: {{m.imdb_rating}} </br>
                Genre: {{m.genre}} </br>
                Director: {{m.director}}</br>
                Actors: {{m.actors}}</br>


            </p>
            <p class="card-text">
                <small class="text-muted">Date added: {{m.add_time}}</small>
            </p>
            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg{{m.id}}">Trailer
            </button>
            <div class="modal fade bd-example-modal-lg{{m.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h3>{{m.name}} ({{m.release_year}})</h3>
                        <iframe height="480px" src="{{m.getURL()}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>


        </div>
        <!-- Large modal -->
        {% endfor %}

    </div>


</div>


{% endblock %}